<?xml version="1.0" encoding="utf-8"?>
<!--
  Library manifest for composeApp KMP module.
  All application-level declarations (application tag, activities, receivers,
  permissions, providers) have moved to androidApp/src/main/AndroidManifest.xml.
  The merged manifest is produced by androidApp which depends on this library.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
</manifest>
