LOCATION=us-central1
REVENUECAT_CUSTOMERS_COLLECTION=rc_customers
REVENUECAT_EVENTS_COLLECTION=rc_events
SET_CUSTOM_CLAIMS=DISABLED
REVENUECAT_SHARED_SECRET=projects/<your-project-number>/secrets/revenuecat-shared-secret/versions/latest
